<div class="w3-panel w3-card-8" *ngFor="let tranz of trans" style="width:50%;">
    <header class="w3-container w3-blue">
        <div class="div-container">
            <div class="div-one">
                <h5>Transaction Id : {{tranz.id}}</h5> <h5>{{tranz.amount | currency: tranz.currency : true}}</h5>
            </div>
            <div class="div-two">
                <h5 style="position: right">{{tranz.date | date}}</h5>
            </div>
        </div>
    </header>

    <div class="w3-container w3-blue">        
        <p>{{tranz.description}}</p>
    </div>
</div>