<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <thead>
            <th>#</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let tranz of trans">
                <td>
                    {{tranz.id}}
                </td>
                <td>
                    {{tranz.description}}
                </td>
                <td>
                    {{tranz.amount | currency: tranz.currency : true}}
                </td>
                <td>
                    {{tranz.date | date}}
                </td>
            </tr>
        </tbody>
    </table>
</div>